QToolTip
{
     border: 1px solid #839496;
     background-color: #002b36;
     padding: 1px;
     font-size: 11px;
     border-radius: 3px;

}

QWidget
{
    background-color: #002b36;
    color: #657b83;
    font-size: 11px;
    outline: none;
}
QLabel
{
    background-color: #002b36;
    color: #657b83;
}

StdTable
{
    background-color: #002b36;
    color: #657b83;
}

QSplitter
{
    background-color: #002b36;
    color: #657b83;
}

QFrame
{
    background-color: #002b36;
    color: #657b83;
}

QStatusBar
{
    background-color: #002b36;
    color: #657b83;
}

QDialog
{
    background-color: #002b36;
    color: #657b83;
}

QAbstractScrollArea
{
    background-color: #002b36;
    color: #657b83;
}
QFontComboBox
{
    background-color: #002b36;
    color: #657b83;
}

QHBoxLayout
{
    background-color: #002b36;
    color: #657b83;
}
QVBoxLayout
{
    background-color: #002b36;
    color: #657b83;
}


QComboBox
{
    background-color: #002b36;
    color: #657b83;
}

QWidget:item:hover
{
    background-color: #073642;
    color: #657b83;
}

QWidget:item:selected
{
    background-color: #2f525c;
    color: #657b83;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background-color: #2f525c;
    color: #657b83;
}

QMenuBar::item:pressed
{
    background: #444;
    border: 1px solid #000;
    background-color: QLinearGradient(
        x1:0, y1:0,
        x2:0, y2:1,
        stop:1 #212121,
        stop:0.4 #343434/*,
        stop:0.2 #343434,
        stop:0.1 #ffaa00*/
    );
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu
{
    background-color: #002b36;
    color: #657b83;
}

QMenu::item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    background-color: #2f525c;
    color: #657b83;
}

QWidget:disabled
{
    background-color: #002b36;
    color: #657b83;
}

QAbstractItemView
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0.1 #646464, stop: 1 #5d5d5d);
}

QWidget:focus
{
    /*border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);*/
}

QLineEdit
{
    background-color: #002b36;
    color: #657b83;
    padding: 1px;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QPushButton {
	border: 1px solid #002b36;
	text-align: center;
	min-height: 20px;
	min-width: 50px;

	padding: 0 6px 0 6px;
    border: 1px solid #1e1e1e;

}
QPushButton:hover
{
    border: 1px solid #1e1e1e;
    background-color: #365c65;
    color: #657b83;
}


QComboBox
{
    background-color: #002b36;
    color: #657b83;
}


QComboBox:hover,QPushButton:hover
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #20b2aa, stop: 1 #03a89e);
}


QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #20b2aa;
}

QComboBox QAbstractItemView
{
    border: 2px solid #03a89e;
    selection-background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #20b2aa, stop: 1 #03a89e);
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 0px;
     border-left-color: #03a89e;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
 }

QComboBox::down-arrow
{
     image: url(:/down_arrow.png);
}

QGroupBox:focus
{
border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #20b2aa, stop: 1 #03a89e);
}

QTextEdit:focus
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #20b2aa, stop: 1 #03a89e);
}




QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background-color: #002b36;
    color: #4a8496;
}

QTextEdit
{
    background-color: #002b36;
    color: #4a8496;
}

QPlainTextEdit
{
    background-color: #002b36;
    color: #4a8496;
}

QHeaderView::section
{
    background-color: #002b36;
    color: #4a8496;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QCheckBox:disabled
{
color: #414141;
}

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    background-color: #002b36;
    color: #657b83;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMainWindow::separator:hover
{

    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #20b2aa, stop:0.5 #03a89e
    stop:1 #20b2aa);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar::handle
{
     spacing: 3px; /* spacing between items in the tool bar */
     background: url(./icons/handle.png);
}

QMenu::separator
{
    height: 2px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 2px solid #03a89e;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #20b2aa;
    width: 2.15px;
    margin: 0.5px;
}

QTabBar::tab {
    color: #75898c;
    border: 1px solid #444;
    border-bottom-style: none;
    background-color: #19434d;
    border-top-right-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: 2px;
}

QTabWidget::pane {
    border: 1px solid #002b36;
    top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
 margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */


    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: #657b83;
    border-bottom-style: solid;
    margin-top: 3px;
     background-color: #002b36;}

QTabBar::tab:selected
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    /*border-top: 2px solid #ffaa00;
    padding-bottom: 3px;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #365c65, stop:0.4 #365c65, stop:0.2 #365c65, stop:0.1 #14aea5);
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
}

QRadioButton::indicator:checked
{
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #20b2aa,
        stop: 0.3 #323232
    );
}

QCheckBox::indicator{
    background-color: #002b36;
    color: #657b83;
    border: 1px solid #b1b1b1;
    width: 9px;
    height: 9px;
}
QComboBox {
    border: 1px solid #808080;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:editable {
    background: #19434d;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #365c65, stop: 0.4 #365c65,
                                 stop: 0.5 #365c65, stop: 1.0 #365c65);
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #002b36, stop: 0.4 #002b36,
                                stop: 0.5 #002b36, stop: 1.0 #002b36);
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid #365c65;
}

QCheckBox::indicator:unchecked,
QCheckBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked,
QGroupBox::indicator:unchecked:hover
{
    image: url(./icons/checkbox_unchecked.png);
}


QCheckBox::indicator:checked,
QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked,
QGroupBox::indicator:checked:hover
{
    image: url(./icons/checkbox_checked.png);
}


QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

QRadioButton::indicator
{
    border-radius: 6px;
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #365c65;
}

QCheckBox::indicator:checked
{
    image:url(./icons/checkbox_checked.png);
}










QScrollBar:horizontal
{
    border: 1px solid #93a1a1;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #19424c, stop: 0.5 #19424c, stop: 1 #19424c);
     height: 15px;
     margin: 0px 16px 0 16px;
}

QScrollBar::handle:horizontal
{
    background-color: #365c65;
    color: #657b83;
    min-height: 15px;
    border-radius: 2px;
}

QScrollBar::add-line:horizontal
{
      border: 1px solid #1b1b19;
      border-radius: 2px;
      background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #03776e, stop: 1 #03776e);
      width: 15px;
      subcontrol-position: right;
      subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
      border: 1px solid #1b1b19;
      border-radius: 2px;
      background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #03776e, stop: 1 #03776e);
      width: 15px;
      subcontrol-position: left;
      subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
      border: 1px solid black;
      width: 1px;
      height: 1px;
     background: #03a89e;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
      background: none;
}

QScrollBar:vertical
{
      background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #19424c, stop: 0.5 #19424c, stop: 1 #19424c);
      width: 15px;
      margin: 16px 0 16px 0;
      border: 1px solid #222222;
}

QScrollBar::handle:vertical
{
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #19424d, stop: 0.5 #19424c, stop: 1 #19434d);
      min-height: 20px;
      border-radius: 2px;
}

QScrollBar::add-line:vertical
{
      border: 1px solid #1b1b19;
      border-radius: 2px;
      background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #03776e, stop: 1 #03776e);
      height: 14px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
      border: 1px solid #1b1b19;
      border-radius: 2px;
      background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #03776e, stop: 1 #03776e);
      height: 14px;
      subcontrol-position: top;
      subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
      border: 1px solid black;
      width: 1px;
      height: 1px;
      background: #19424c;
}


QSlider::horizontal
{
     border: 1px solid #222222;
    background-color: #002b36;
     height: 15px;
     margin: 0px 16px 0 16px;
}

QSlider::handle:horizontal
{
    background-color: #002b36;
      min-height: 15px;
      border-radius: 2px;
}

QSlider::add-line:horizontal
{
      border: 1px solid #1b1b19;
      border-radius: 2px;
    background-color: #002b36;
      width: 15px;
      subcontrol-position: right;
      subcontrol-origin: margin;
}

QSlider:sub-line:horizontal {
      border: 1px solid #1b1b19;
      border-radius: 2px;
    background-color: #002b36;
      width: 15px;
      subcontrol-position: left;
      subcontrol-origin: margin;
}

QSlider::right-arrow:horizontal, QSlider::left-arrow:horizontal
{
      border: 1px solid black;
      width: 1px;
      height: 1px;
    background-color: #002b36;
}

QSlider::add-page:horizontal, QSlider:sub-page:horizontal
{
      background: none;
}

QSlider:vertical
{
      background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
      width: 15px;
      margin: 16px 0 16px 0;
      border: 1px solid #222222;
}

QSlider::handle:vertical
{
    background-color: #002b36;
      min-height: 20px;
      border-radius: 2px;
}

QSlider::add-line:vertical
{
      border: 1px solid #1b1b19;
      border-radius: 2px;
    background-color: #002b36;
      height: 14px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
}

QSlider::sub-line:vertical
{
      border: 1px solid #1b1b19;
      border-radius: 2px;
    background-color: #002b36;
      height: 14px;
      subcontrol-position: top;
      subcontrol-origin: margin;
}

QSlider::up-arrow:vertical, QSlider::down-arrow:vertical
{
      border: 1px solid black;
      width: 1px;
      height: 1px;
      background: #365c65;
}
QTreeView {
    background-color: #002b36;
    color: #4a8496;
}
QTableWidget{
    background-color: #002b36;
    color: #4a8496;
}
