/*QMainWindow styles*/
QMainWindow {
    background: black;
}

QMainWindow#EyeViewerMainWnd{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
}

QMainWindow::separator {
     background: lightgray;
     width: 4px; /* when vertical */
     height: 4px; /* when horizontal */
 }

/*
QMdiSubWindow {
    background: black;
}
*/

/*QDockWidget styles*/
 
 QDockWidget {
     border: 1px solid lightgray;
     background: #202020;
	 color: white;
	 titlebar-close-icon: url(:/StyleImages/res/Stylesheet/dockwidget_close.png);
	 titlebar-normal-icon: url(:/StyleImages/res/Stylesheet/dockwidget_float.png);
 }

 QDockWidget::title {
     text-align: center; /* align the text to the center */
     background: #202020;
	 color: white;
 }
 
 QDockWidget::float-button, QDockWidget::close-button{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
	border-radius: 4px;
 }

 QDockWidget::float-button:hover, QDockWidget::close-button:hover{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
 }

 QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
     padding: 1px -1px -1px 1px;
 }
 
/*QDialog styles*/
QDialog {
    background: #202020;
    color: yellow;
}
/*QWidget styles*/
QWidget#DeviceListWidget{
    background: #202020;
    color: yellow;
}

QWidget#PSGDataPayloadViewer{
	background: #202020;
    color: yellow;
}

QWidget#ProjectViewTransparentWidget{
	background: transparent;
	border: 0px;
}

QWidget#pushButtonMenu{

    background-color:  rgb(93, 101, 116) ;
    color: rgb(225, 225, 225);
	border-radius: 4px;
	text-align:left;
}

QWidget#pushButtonMenu:hover{

    background-color:  rgb(124, 216, 255) ;
    color: rgb(60,60,60);
}

QWidget#pushButtonMenu QLabel[enabled=false] {
    color: Darkgray;
	font: italic;
}

QWidget#pushButtonMenu QLabel#MenuHeader {
    background-color:  rgb(93, 101, 116) ;
    color: rgb(225, 225, 225);
	border-radius: 4px;
	font: default;
}

QWidget#pushButtonMenu QLabel{
   padding: 2px;
   color: rgb(225,225,225);
   font: Tahoma 11px;
}
QScrollArea#ProjectViewTransparentWidget{
	background: transparent;
}

QTableWidget#ListViewFullDataTable{
    background : rgb(31, 31, 31);
	gridline-color : rgb(114, 120, 120);
	color: rgb(225,225,225);
}

QWidget#ListViewFullDataWidget{
	background: transparent;
	border: 0px;
}

QScrollArea#ListViewFullDataScrollBar{
	background: rgb(31, 31, 31);
	border: 1px solid gray;
}

/*QProgressBar styles*/
QProgressBar#ProgressWidjet{
    color: black;
}

QProgressBar#ProgressWidjet:horizontal {
	border: 1px solid gray;
	border-radius: 3px;
	background: white;
	padding: 1px;
}

QProgressBar {
    color: white;
}

/*QLabel styles*/
QLabel {
    color: white;
}

QLabel:disabled {
    color: darkgray;
}

QLabel#ProjectViewLabel, QLabel#ProjectViewStartLabel{
	color: rgb(250,250,250);
	background-color: transparent;
}

QLabel#TimeItemLabel {
	background-color : qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                 stop:0 rgb(94,94,94), 
								 stop:0.5 rgb(58,58,58), 
								 stop:1 rgb(40,40,40));

    color: rgb(225, 225, 225);
	border-radius: 4px;
}

QLabel#ProjectViewLabelHilight{
	color: rgb(5,5,5);
	background-color: darkGray;
}

QLabel#SegmentWidgetLabel{
   padding-right: 5px; /* to align with spinbox */
   color: rgb(225,225,225);
   border-width:1px;
   border-radius: 0px;
   border-style: solid;
   border-color: rgb(95,105,110);
}

QLabel#ProjectViewStartLabel:disabled{
	color: rgb(121,121,121);
}

QLabel#ProjectViewLabel:disabled{
	color: gray;
}

QLabel#IPEditorLabel
{
	color: black;
}

QLabel#InfusionDockWidgetHeader, QLabel#TrainerDockWidgetHeader
{
	border: 0px;
	border-radius: 2px;
	background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
								stop: 0 rgb(142,168,197),stop: 0.02 rgb(142,168,197), stop: 0.03 rgb(100,137,180),
								stop: 0.1 rgb(68,93,121),stop: 0.18 rgb(49,71,96), stop: 0.3 rgb(42,57,74),
								stop: 0.55 rgb(49,51,53), stop: 0.76 rgb(68,68,68),stop: 0.76 rgb(78,78,78), 
								stop: 0.96 rgb(173,173,173), stop: 0.98 rgb(217,217,217), stop: 1 rgb(217,217,217));
}

/*QGroupBox styles*/
QGroupBox
{
   color: white;
   border:1px solid white;
   border-radius: 4px;
   margin-top: 8px;
}

QGroupBox::title{
	subcontrol-origin: margin;
	left: 6px;
	padding: 0 3px;
}

QGroupBox:disabled
{
   color: #C0C080;
   border:1px solid gray;
}

QGroupBox::title:disabled{
	padding-left: 8px;
}

/*QCheckBox styles*/
QCheckBox {
    color: white;
}

QCheckBox::indicator:unchecked, QGroupBox::indicator:unchecked  {
     image: url(:/StyleImages/res/Stylesheet/checkbox_unchecked.png);
 }

 QCheckBox::indicator:unchecked:hover, QGroupBox::indicator:unchecked:hover {
     image: url(:/StyleImages/res/Stylesheet/checkbox_unchecked_hover.png);
 }

 QCheckBox::indicator:unchecked:pressed, QGroupBox::indicator:unchecked:pressed {
     image: url(:/StyleImages/res/Stylesheet/checkbox_unchecked_pressed.png);
 }

 QCheckBox::indicator:checked, QGroupBox::indicator:checked {
     image: url(:/StyleImages/res/Stylesheet/checkbox_checked.png);
 }

 QCheckBox::indicator:checked:hover, QGroupBox::indicator:checked:hover {
     image: url(:/StyleImages/res/Stylesheet/checkbox_checked_hover.png);
 }

 QCheckBox::indicator:checked:pressed, QGroupBox::indicator:checked:pressed {
     image: url(:/StyleImages/res/Stylesheet/checkbox_checked_pressed.png);
 }

 QCheckBox::indicator:indeterminate, QGroupBox::indicator:indeterminate {
     image: url(:/StyleImages/res/Stylesheet/checkbox_indeterminate.png);
 }

 QCheckBox::indicator:indeterminate:hover, QGroupBox::indicator:indeterminate:hover {
     image: url(:/StyleImages/res/Stylesheet/checkbox_indeterminate_hover.png);
 }

 QCheckBox::indicator:indeterminate:pressed, QGroupBox::indicator:indeterminate:pressed {
     image: url(:/StyleImages/res/Stylesheet/checkbox_indeterminate_pressed.png);
 }
 
 QCheckBox::disabled {
       color: gray;
 }
 
 QCheckBox::indicator::disabled, QGroupBox::indicator::disabled {
      image: url(:/StyleImages/res/Stylesheet/checkbox_disabled.png);
 }

 QCheckBox::indicator:disabled:checked, QGroupBox::indicator:disabled:checked {
     image: url(:/StyleImages/res/Stylesheet/checkbox_disabled_checked.png);
 }

/*QRadioButton styles*/
QRadioButton {
    color: white;
}

QRadioButton::disabled {
    color: gray;
}

QRadioButton::indicator::unchecked {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_unchecked.png);
 }

 QRadioButton::indicator:unchecked:hover {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_unchecked_hover.png);
 }

 QRadioButton::indicator:unchecked:pressed {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_unchecked_pressed.png);
 }

 QRadioButton::indicator::checked {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_checked.png);
 }

 QRadioButton::indicator:checked:hover {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_checked_hover.png);
 }

 QRadioButton::indicator:checked:pressed {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_checked_pressed.png);
 }

QRadioButton::indicator::disabled {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_disabled.png);
}

QRadioButton::indicator::disabled:checked {
     image: url(:/StyleImages/res/Stylesheet/radiobutton_disabled_checked.png);
}

/*QPushButton styles*/
QPushButton {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
    border-width: 1px;
    border-color: white;
    font: 12px;
    color:#ffffff;
}

QPushButton#CustomDockTitleBarPushButton {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
	border-radius: 4px;
    border-width: 0px;
}

QPushButton#CustomDockTitleBarPushButton:hover{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

 QPushButton#CustomDockTitleBarPushButton:pressed {
     padding: 1px -1px -1px 1px;
 }

QPushButton#NewChartPushButton {
	background-color: transparent;
	border-radius: 3px;
    border-width: 0px;
	color: white;
	font: 11px;
}

QPushButton#NewChartPushButton:hover{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

 QPushButton#NewChartPushButton:pressed {
     padding: 1px -1px -1px 1px;
}
 
QPushButton#NewChartPushButton::menu-indicator{
     image: url(:/StyleImages/res/Stylesheet/menu_button_indicator.png);
     subcontrol-position: bottom right;
     subcontrol-origin: padding;
     left: -3px;
}

QPushButton#AutoSuggestionDropDownButton {
	background-color: #202020;
    border-width: 1px;
    border-color: rgb(160, 160, 164);
	border-style: solid;
	border-left: 0px transparent;
	border-right: 0px transparent;
}

QPushButton#SliderManagerButton{
    font: 11px;
}

QPushButton#ProjectViewSessionMenuButton{
	border-radius: 4px;
    border-style: none;
    border-width: 0px;
	background-color: transparent;
}

QPushButton#ProjectViewSessionMenuButton::disabled{
	border-radius: 4px;
    border-style: none;
    border-width: 0px;
	background-color: transparent;
}

QPushButton#ProjectViewSessionMenuButton::menu-indicator,
QPushButton#ProjectViewPortConfigButton::menu-indicator,
QPushButton#ProjectCollapsedMenuButton::menu-indicator{
     image: url(:/StyleImages/res/Stylesheet/menu_button_indicator.png);
     subcontrol-position: bottom right;
     subcontrol-origin: padding;
     left: -3px;
}

QPushButton#TimingBarMenuButton::menu-indicator
{
	image: url(:/Icons/Images/ToolButtonDownArrow.png);
	subcontrol-position: bottom;
}

QPushButton#ProjectViewRunButton, #ProjectViewStopButton, #ProjectViewSettingButton, 
QPushButton#TransparentPushButton, #ProjectViewPortConfigButton, #ProjectCollapsedMenuButton, 
QPushButton#AutoSuggestionTransparentPushButton, #TimingBarMenuButton, #TrainerStartContextWidgetButton {
	border-radius: 4px;
    border-style: none;
    border-width: 0px;
	background-color: transparent;
}

QPushButton#ProjectViewRunButton::disabled, QPushButton#ProjectViewStopButton::disabled , 
QPushButton#ProjectViewSettingButton::disabled, QPushButton#TransparentPushButton::disabled, 
QPushButton#ProjectViewPortConfigButton::disabled, QPushButton#ProjectCollapsedMenuButton::disabled, 
QPushButton#AutoSuggestionTransparentPushButton::disabled, QPushButton#TimingBarMenuButton::disabled, #TrainerStartContextWidgetButton::disabled {
	border-radius: 4px;
    border-style: none;
    border-width: 0px;
	background-color: transparent;
}

QPushButton#ProjectPushButton {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(29, 29, 30);
    font: 11px;
	color: rgb(250,250,250);
}
			
QPushButton#ProjectPushButton:hover {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(29, 29, 30);
    font: 11px;
	color: rgb(253,253,253);
}

QPushButton#ProjectPushButton::disabled{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(121, 121, 121);
	color : rgb(150,150,150);
}

QPushButton#RoundedPushButton, #TogglePortPushButton, #ToggleChannelPortPushButton, #AutoSuggestionSearchFilterButton {
    border-style: solid;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 11px;
	color: rgb(240, 240, 240);
}

QPushButton#RoundedFindPushButton {
    border-style: solid;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 15pt;
	color: rgb(240, 240, 240);
}

QPushButton#RoundedPushButton::checked, QPushButton#TogglePortPushButton::checked, QPushButton#AutoSuggestionSearchFilterButton::checked , QPushButton#RoundedFindPushButton::checked,
QPushButton#ToggleChannelPortPushButton::checked[bg_state="all_selected"]{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 rgb(205,227,235), stop: 0.3 rgb(100,141,166), stop: 0.6 rgb(75,101,115), stop: 0.8 rgb(40,47,50));
								
	color: rgb(240, 240, 240);
    border: 1px solid rgba(75,75,75);	
}

QPushButton#RoundedPushButton:pressed:hover, QPushButton#TogglePortPushButton:pressed:hover, QPushButton#AutoSuggestionSearchFilterButton:pressed:hover,
QPushButton#ProjectViewRunButton:pressed:hover, QPushButton#ProjectViewStopButton:pressed:hover , 
QPushButton#ProjectViewSettingButton:pressed:hover, QPushButton#TransparentPushButton:pressed:hover, QPushButton#TimingBarMenuButton:pressed:hover,
QPushButton#ProjectViewPortConfigButton:pressed:hover, QPushButton#ProjectCollapsedMenuButton:pressed:hover, 
QPushButton#RoundedFindPushButton:pressed:hover{
        background-color: qlineargradient(x1:0, y1:0,x2:0, y2:1,
                                       stop:0 rgba(12,61,90,80), stop:1 rgba(100,184,235,80));
}

QPushButton#AutoSuggestionTransparentPushButton:pressed:hover{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 11px;
	color: rgb(240, 240, 240);
    background-color: qlineargradient(x1:0, y1:0,x2:0, y2:1,
                                      stop:0 rgba(12,61,90,80), stop:1 rgba(100,184,235,80));
}

QPushButton#AutoSuggestionTransparentPushButton:hover{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 11px;
	color: rgb(240, 240, 240);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

QPushButton#RoundedPushButton:hover, QPushButton#TogglePortPushButton:hover, QPushButton#AutoSuggestionSearchFilterButton:hover,
QPushButton#ProjectViewRunButton:hover, QPushButton#ProjectViewStopButton:hover , 
QPushButton#ProjectViewSettingButton:hover, QPushButton#TransparentPushButton:hover,
QPushButton#ProjectViewPortConfigButton:hover, QPushButton#ProjectCollapsedMenuButton:hover, 
QPushButton#RoundedFindPushButton:hover, QPushButton#TimingBarMenuButton:hover, QPushButton#ToggleChannelPortPushButton:hover[bg_state="none_selected"],
QPushButton#ToggleChannelPortPushButton:hover[bg_state="all_selected"], QPushButton#ToggleChannelPortPushButton:hover[bg_state="partial_selected"]
{
        background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

QPushButton#TrainerStartContextWidgetButton:hover
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 rgb(27,43,52), stop:.5 transparent , stop:1 rgba(100,184,235,150));
}

QPushButton#TogglePortPushButton::disabled, QPushButton#RoundedPushButton::disabled, 
QPushButton#AutoSuggestionSearchFilterButton::disabled, QPushButton#RoundedFindPushButton::disabled{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 lightgray, stop:1 #1F1F1F);
	color : #505050;
}

QPushButton#ToggleChannelPortPushButton[bg_state="partial_selected"]{
    /* background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(238, 245, 249), stop : 0.3 rgb(133, 169, 180), stop : 0.6 rgb(108, 129, 129), stop : 0.8 rgb(73, 75, 64)); */
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(244, 249, 251), stop : 0.3 rgb(159, 187, 196), stop : 0.6 rgb(134, 153, 153), stop : 0.8 rgb(96, 98, 83));
}

QPushButton#ToggleChannelPortPushButton[bg_state="none_selected"]{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 darkgray, stop : 1 #050505);
}

QPushButton#SequencerRoundedPushButton{
    border-style: solid;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 11px;
	color: rgb(240, 240, 240);
}

QPushButton#AutoSuggestionSearchFilterButton::focus, QPushButton#AutoSuggestionTransparentPushButton::focus{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 #050505 , stop:1 rgb(100,184,235));
}

QPushButton#SequencerRoundedPushButton::checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 rgb(205,227,235), stop: 0.3 rgb(100,141,166), stop: 0.6 rgb(75,101,115), stop: 0.8 rgb(40,47,50));
								
	color: rgb(240, 240, 240);
    border: 1px solid rgba(75,75,75);	
}

QPushButton#SequencerRoundedPushButton:pressed:hover {
        background-color: qlineargradient(x1:0, y1:0,x2:0, y2:1,
                                       stop:0 rgb(27,43,52), stop:1 rgb(51,78,94));
}

QPushButton#SequencerRoundedPushButton:hover {
        background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 #050505 , stop:1 rgb(100,184,235));
}

QPushButton#SequencerRoundedPushButton::disabled {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 lightgray, stop:1 #1F1F1F);
	color : #505050;
}

QPushButton#RoundedPushButtonNoLeft {
    border-style: solid;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
    border-radius: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 11px;
	color: rgb(240, 240, 240);
	border-left: 0px transparent;
}

QPushButton#RoundedPushButtonNoRight {
    border-style: solid;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
    border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
    border-width: 1px;
    border-color: rgba(130, 130, 130);
    font: 11px;
	color: rgb(240, 240, 240);
	border-right: 0px transparent;
}

QPushButton#RoundedPushButtonNoLeft::checked, QPushButton#RoundedPushButtonNoRight::checked {
   background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 rgb(99,155,213), stop: 0.2 rgb(126,177,229), stop: 1 rgb(12,37,65));							
	color: rgb(240, 240, 240);
}

QPushButton#RoundedPushButtonNoLeft:pressed:hover, QPushButton#RoundedPushButtonNoRight:pressed:hover {
        background-color: qlineargradient(x1:0, y1:0,x2:0, y2:1,
                                       stop:0 rgba(12,61,90,80), stop:1 rgba(100,184,235,80));
}

QPushButton#RoundedPushButtonNoLeft:hover, QPushButton#RoundedPushButtonNoRight:hover {
        background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

QPushButton#ProjectViewExternalButton {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	border : none;
}

QPushButton#ProjectViewDeviceButton {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
	border : none;
}

QPushButton:pressed:hover {
        background-color: qlineargradient(x1:0, y1:0,x2:0, y2:1,
                                       stop:0 rgba(12,61,90,80), stop:1 rgba(100,184,235,80));
}

QPushButton:hover {
        background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

QPushButton::disabled {
    border-width: 0px;
    color: 0.5 black;
    background-color:lightgray;
}

QPushButton::checked {
	background-color  	: lightblue;
	color 				: black;
}

QPushButton#CListViewCellPushButton, QPushButton#ProjectDeleteDeviceButton{
	border : none;
	background-color: transparent;
}

/*QToolbar styles*/
QToolBar{
     background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
								stop: 0 	rgb(142,168,197), 	stop: 0.02 	rgb(142,168,197), 
								stop: 0.03 	rgb(100,137,180), 	stop: 0.1 	rgb(68,93,121),
								stop: 0.18 	rgb(49,71,96), 		stop: 0.3 	rgb(42,57,74),
								stop: 0.55 	rgb(49,51,53), 		stop: 0.76 	rgb(68,68,68),
								stop: 0.76 	rgb(78,78,78), 		stop: 0.96 	rgb(173,173,173),
								stop: 0.98 	rgb(217,217,217), 	stop: 1 	rgb(217,217,217));
    /*border-left: 1px solid rgb(78,78,78);*/
	border-radius: 3px;
}
 
QToolBar::separator {
    width: 1px;
    background: rgb(100,100,100);
}

QToolBar:handle{
	image: url(:/StyleImages/res/Stylesheet/tBar_grabby.png);
}

QToolButton:disabled{
    color: Darkgray;
}

QToolButton{
    color: white;
}

QToolButton[popupMode="0"] { 
     border: 1px solid transparent;
 }
 
QToolButton[popupMode="0"]:hover {
	background-color: qradialgradient(cx:0.5, cy:1, radius:.4, 
								      fx:0.5, fy:1,
                                      stop:0 rgba(147,192,249,255),
                                      stop:1 rgba(100,168,249,0));
   border: 1px solid transparent;		
}

QToolButton:checked, QToolButton:hover:checked {
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
								stop: 0    rgb(142,168,197), 
                                stop: 0.02 rgb(139,165,194),
                                stop: 0.06 rgb(130,165,218),
                                stop: 0.20 rgb(55,106,165), 
                                stop: 0.34 rgb(49,90,140),
                                stop: 0.43 rgb(50,86,127), 
                                stop: 0.70 rgb(62,81,104), 
                                stop: 0.71 rgb(93,110,127), 
                                stop: 0.93 rgb(168,174,182), 
                                stop: 0.94 rgb(178,191,205), 
                                stop: 0.96 rgb(178,191,205), 
                                stop: 0.96 rgb(118,129,142), 
                                stop: 0.98 rgb(118,129,142), 
                                stop: 0.98 rgb(70,78,86), 
                                stop: 1    rgb(70,78,86));
    border-top: 1px solid rgba(75,75,75);	
    border-left: 1px solid rgba(75,75,75);	
    border-right: 1px solid rgba(75,75,75);	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

QToolButton:hover:checked {
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
								stop: 0    rgb(142,168,197), 
                                stop: 0.02 rgb(139,165,194),
                                stop: 0.06 rgb(115,170,231),
                                stop: 0.20 rgb(58,135,225), 
                                stop: 0.34 rgb(56,123,199),
                                stop: 0.43 rgb(57,112,175), 
                                stop: 0.70 rgb(69,95,124), 
                                stop: 0.71 rgb(98,117,140), 
                                stop: 0.93 rgb(170,178,185), 
                                stop: 0.94 rgb(178,191,205), 
                                stop: 0.96 rgb(178,191,205), 
                                stop: 0.96 rgb(118,129,142), 
                                stop: 0.98 rgb(118,129,142), 
                                stop: 0.98 rgb(70,78,86), 
                                stop: 1    rgb(70,78,86));
    border-top: 1px solid rgba(75,75,75);	
    border-left: 1px solid rgba(75,75,75);	
    border-right: 1px solid rgba(75,75,75);	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

QToolButton[popupMode="1"] {
	border: 1px solid transparent;
	border-radius: 3px;
}

QToolButton[popupMode="1"]:hover {
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: qradialgradient(cx:0.5, cy:1, radius:.4, 
								      fx:0.5, fy:1,
                                      stop:0 rgba(147,192,249,255),
                                      stop:1 rgba(100,168,249,0));
}

QToolButton::menu-button {
	border: 1px solid transparent;
	border-top-right-radius: 3px;
	border-bottom-right-radius: none;
} 

QToolButton::menu-arrow {
     image: url(:/StyleImages/res/Stylesheet/menu_down_arrow.png);
 }
 
QToolButton::menu-arrow:disabled {
     image: url(:/StyleImages/res/Stylesheet/down_arrow_disabled.png);
 }
 
QToolButton::menu-arrow {
     top: 7px; left: 1px; 
 }

QPushButton#ToolButtonWidgetInToolbar,  
QPushButton#ToolButtonWidgetInToolbar:pressed/*,
QPushButton#MenuButtonWidgetInToolbar*/{ 
    border-width: 0px;
    background-color: transparent;
 }
 
QPushButton#ToolButtonWidgetInToolbar:disabled,
QPushButton#MenuButtonWidgetInToolbar:disabled{
    border-width: 0px;
    color: Darkgray;
    background-color: transparent;
}

QPushButton#ToolButtonWidgetInToolbar:hover {
	background-color: qradialgradient(cx:0.5, cy:1, radius:.4, 
								      fx:0.5, fy:1,
                                      stop:0 rgba(147,192,249,255),
                                      stop:1 rgba(100,168,249,0));
    border: 1px solid transparent;		
}

QPushButton#ToolButtonWidgetInToolbar:checked{
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
								stop: 0    rgb(142,168,197), 
                                stop: 0.02 rgb(139,165,194),
                                stop: 0.06 rgb(130,165,218),
                                stop: 0.20 rgb(55,106,165), 
                                stop: 0.34 rgb(49,90,140),
                                stop: 0.43 rgb(50,86,127), 
                                stop: 0.70 rgb(62,81,104), 
                                stop: 0.71 rgb(93,110,127), 
                                stop: 0.93 rgb(168,174,182), 
                                stop: 0.94 rgb(178,191,205), 
                                stop: 0.96 rgb(178,191,205), 
                                stop: 0.96 rgb(118,129,142), 
                                stop: 0.98 rgb(118,129,142), 
                                stop: 0.98 rgb(70,78,86), 
                                stop: 1    rgb(70,78,86));
    border-top: 1px solid rgba(75,75,75);	
    border-left: 1px solid rgba(75,75,75);	
    border-right: 1px solid rgba(75,75,75);	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

QPushButton#ToolButtonWidgetInToolbar:hover:checked{
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
								stop: 0    rgb(142,168,197), 
                                stop: 0.02 rgb(139,165,194),
                                stop: 0.06 rgb(115,170,231),
                                stop: 0.20 rgb(58,135,225), 
                                stop: 0.34 rgb(56,123,199),
                                stop: 0.43 rgb(57,112,175), 
                                stop: 0.70 rgb(69,95,124), 
                                stop: 0.71 rgb(98,117,140), 
                                stop: 0.93 rgb(170,178,185), 
                                stop: 0.94 rgb(178,191,205), 
                                stop: 0.96 rgb(178,191,205), 
                                stop: 0.96 rgb(118,129,142), 
                                stop: 0.98 rgb(118,129,142), 
                                stop: 0.98 rgb(70,78,86), 
                                stop: 1    rgb(70,78,86));
    border-top: 1px solid rgba(75,75,75);	
    border-left: 1px solid rgba(75,75,75);	
    border-right: 1px solid rgba(75,75,75);	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

QPushButton#MenuButtonWidgetInToolbar{
}

/* StartMenuPushButton */
QPushButton#StartMenuPushButton {
	border: none;
	background-color: transparent;
	image: url(:/StyleImages/res/Stylesheet/startmenu_enabled.png);
}

QPushButton#StartMenuPushButton::disabled {
	image: url(:/StyleImages/res/Stylesheet/startmenu_disabled.png);
}

QPushButton#StartMenuPushButton:pressed {
	image: url(:/StyleImages/res/Stylesheet/startmenu_pressed.png);
}

QPushButton#StartMenuPushButton::menu-indicator{
	image: url();
}

 /*QPushButton for QWidgetAction styles*/
QMenu#pushButtonMenu{

    background-color:  rgb(93, 101, 116) ;
    color: rgb(225, 225, 225);
	border-radius: 4px;
}


 /*QMenu styles*/
QMenu {
     background-color: rgb(93, 101, 116) ;
	 color: rgb(225, 225, 225);
     font: 12px;
     padding: 4px;
	 border: 1px solid rgb(142, 168, 197);
}

QMenu#ProjectViewMenuButtonPopup{
    background-color : rgb(31, 31, 31);
	border: 1px solid gray;
}

QMenu#SliderManagerMenu, QMenu#ChannelPortWidgetMenu{
     background-color:  rgb(83, 88, 101) ;
     padding: 2px;
	 border-radius: 0px;
	 border: none;
}

QMenu#StartContextWidgetMenu{
     background-color: rgb(83, 88, 101) ;
     padding: 0px;
	 border-radius: 4px;
	 border: 1px solid rgb(121, 121, 121);
}

QMenu::item {
    padding: 4px 25px;        
}

QMenu::separator {
    height: 1px;
    background: darkgray;
}

QMenu::item:selected, QMenu::item:selected:checked { /* when user selects item using mouse or keyboard */
    background-color:  rgb(124, 216, 255) ;
    color: rgb(60,60,60);
	border-radius: 4px;
}

QMenu::item:disabled { /* when disabled by some conditions */
    color: Darkgray;
	font: italic;
}

QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: gray;
     border: 1px inset gray;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }
 
/*QMenuBar styles*/
QMenuBar {
	background-image: url(:/StyleImages/res/Stylesheet/Bk_Ground_Menubar.png);
	background-repeat: repeat-x;
	background-position: bottom left;

    font: 12px;
    color:#ffffff;
}

QMenuBar::item {
    background-color: rgba(0,0,0,0); /*transparent, let background image show through*/
	
    spacing: 10px; /* spacing between menu bar items */
    padding: 5px 16px;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background-color: qconicalgradient(cx:0.5, cy:0.5, angle:270, 
										stop:0 rgba(124,216,255, 225), stop:0.25 rgba(30,30,30,0), stop:0.75 rgba(30,30,30,0), stop:1 rgba(124,216,255, 225));
}

QMenuBar::item:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 rgb(180,217,229), stop: 0.25 rgb(107,151,178), stop: 0.45 rgb(107,151,178), stop: 0.65 rgb(74,103,117), stop: 0.7 rgb(53,73,82),stop: 0.85 rgb(69,120,149));
}

/*QTabBar*/
QTabWidget::pane { /* The tab widget frame */
     border: 1px solid lightgray;
     background: #202020;
}

QTabWidget::tab-bar {
     left: 5px; /* move to the right by 5px */
     top:1px;
}

QTabBar::tab {
     background: black;
     color      :white;
     border: 1px solid lightgray;     
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     min-width: 15px;
     padding: 4px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
      background: #202020;
      color     : white;
      border-bottom-color: #202020; /* same as pane color */
}

QTabBar::tab:selected {
    border-color: lightgray;
    border-bottom-color: #202020; /* same as pane color */
}

QTabBar::tab:disabled {
    border-color: darkgray;
    color		: darkgray;
	font		: italic;
}

QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */    
}

/*QComboBox*/
QComboBox {
    border: 1px solid gray;
    padding: 1px 1px 1px 3px;
    background: rgb(224, 221, 221);
	color:black;     
    selection-background-color: rgb(60, 157, 255);
}

QComboBox QAbstractItemView {
    border: 1px solid gray;
    background: rgb(224, 221, 221);
	color:black;     
    selection-background-color: rgb(60, 157, 255);
}

QComboBox:disabled {
    border: 1px solid gray;
    background: lightgray;
	color: 0.5 black;
}

/*QComboBox:!editable, QComboBox::drop-down:editable {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                  stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}

/* QComboBox gets the "on" state when the popup is open */
/*QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                 stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}*/

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
	background: #202020;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
 /*   border-top-right-radius: 3px;*/ /* same radius as the QComboBox */
  /*  border-bottom-right-radius: 3px;*/
}

QComboBox::drop-down:disabled {
    border-left-color: gray;
}

QComboBox::down-arrow {
    image: url(:/StyleImages/res/Stylesheet/down_arrow.png);
}

QComboBox::down-arrow:disabled {
    image: url(:/StyleImages/res/Stylesheet/down_arrow_disabled.png);
}

QComboBox#AutoSuggestionLogicCombo::drop-down:focus { 
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop:0 darkgray, stop:.5 #050505 , stop:1 rgb(100,184,235));
}

QComboBox::drop-down:disabled {
    border-left-color: gray;
}
 
/*QTableView*/
QTableView{
    background : #eeeeee;
    alternate-background-color: #e1e1e1;
    border-style: outset;
    border-radius: 4px;
    border-width: 1px;
    border-color : gray;
    color: black;
}

QTableView#CustomSelectionGradient{
	selection-background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
												stop:0 rgb(146,194,250), stop: .48 rgb(99,168,249), stop: .52 rgb(86,154,169), stop:1 rgb(99,168,249));
}

QHeaderView{
	background: black;
	color: white;
}

QHeaderView::down-arrow {
     image: url(:/StyleImages/res/Stylesheet/down_arrow.png);
}

QHeaderView::up-arrow {
     image: url(:/StyleImages/res/Stylesheet/up_arrow.png);
}

QHeaderView::section, QTableView QTableCornerButton::section{
	background: black;
	color: white;
	border: 1px solid gray;
	border-top-color: transparent;
	border-left-color: transparent;
}
 
QTableView#ProjectViewTable{
    background : rgb(31, 31, 31);
	gridline-color : rgb(114, 120, 120);
}

QTableView#PortListInToolbar{
    background : #202020;
	gridline-color : lightgray;
}

QTableView#ProjectViewTable QLabel{
	color: rgb(225,225,225);
	font: Tahoma 11px;
}

QTableView#ProjectViewTable QLabel:disabled{
	color: gray;
}

QTableView#ProjectViewTable QHeaderView::section{
	color: rgb(240, 240, 240);
	
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 rgb(104,104,104), stop: 0.2 rgb(76,76,76), stop: 0.3 rgb(50,50,50), stop: 0.4 rgb(38,38,38), stop: 1.0 rgb(31, 31, 31));
	font: bold 11px;
}

QTableView#SpreadSheetWidget{
 	gridline-color : darkgray;
}

QTableView#SpreadSheetWidget QHeaderView::section{
	background: #b9b9b9;
	color: black;
}

QTableView#ProjectViewPortStatusWidget{
    background : rgb(31, 31, 31);
	gridline-color : rgb(92, 92, 92);
	border-radius: 0px;
}

QTableView#ProjectViewPortStatusWidget QHeaderView::section{
	background: black;
	border: 1px solid white;
}

QTableView#AutoSuggestionTable
{
    background : rgb(31, 31, 31);
	border: 0px;
}

QFrame#ProjectViewTopBorderLine
{
	border: 1px inset rgb(70, 70, 70);
}

QFrame#ProjectViewLineFrame, #TimingBarLineFrame
{
	color: rgb(114, 120, 120);
}

QFrame#IPEditorFrame
{
	background: white;
}

QFrame#CustomDockTitleBar{
     border: 0px inset lightgray;
     background: #202020;
	 color: white;
}

/*QScrollBar:Horizental*/
QScrollBar:horizontal {
	border: 1px solid #222222;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop: 0 #111111, stop: 1 #333333);
	height: 15px;
	margin: 0px 17px 0 17px;
}
QScrollBar::handle:horizontal {
	border: 1px solid #777777;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url(":/StyleImages/res/Stylesheet/scroll_h.png");
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop: 0 #666666, stop: 1 #444444);
	min-width: 20px;
	border-radius: 3px;
}
QScrollBar::add-line:horizontal  {
	border: 1px solid #777777;
	background: #444444;
	width: 15px;
	subcontrol-position: right;
	subcontrol-origin: margin;
	border-radius: 2px;
}
QScrollBar::sub-line:horizontal {
	border: 1px solid #777777;
	background: #444444;
	width: 15px;
	subcontrol-position: left;
	subcontrol-origin: margin;
	border-radius: 2px;
}
QScrollBar::left-arrow:horizontal {
	background: url(":/StyleImages/res/Stylesheet/left_arrow.png");
	background-repeat: none;
	left: 5px;
	top: 3px;
}
QScrollBar::right-arrow:horizontal {
	background: url(":/StyleImages/res/Stylesheet/right_arrow.png");
	background-repeat: none;
	left: 5px;
	top: 3px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	border: 1px solid #222222;
	background: #333333;
}


/*QScrollBar:Vertical*/
QScrollBar:vertical {
	border: 1px solid #222222;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop: 0 #111111, stop: 1 #333333);
	width: 15px;
	margin: 17px 0 17px 0;
}
QScrollBar::handle:vertical {
	border: 1px solid #777777;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url(":/StyleImages/res/Stylesheet/scroll.png");
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop: 0 #666666, stop: 1 #444444);
	min-height: 20px;
	border-radius: 3px;
}
QScrollBar::add-line:vertical  {
	border: 1px solid #777777;
	background: #444444;
	height: 15px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
	border-radius: 2px;
}
QScrollBar::sub-line:vertical {
	border: 1px solid #777777;
	background: #444444;
	height: 15px;
	subcontrol-position: top;
	subcontrol-origin: margin;
	border-radius: 2px;
}
QScrollBar::up-arrow:vertical {
	background: url(":/StyleImages/res/Stylesheet/up_arrow.png");
	background-repeat: none;
	left: 3px;
	top: 5px;
}
QScrollBar::down-arrow:vertical {
	background: url(":/StyleImages/res/Stylesheet/down_arrow.png");
	background-repeat: none;
	left: 3px;
	top: 5px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

/*------------------------------------------*/
/* Start of project view scroll bar style	*/
/*------------------------------------------*/
QScrollBar#ProjectViewTableVerticalScrollBar:vertical {
	border: 1px solid #222222;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop: 0 #111111, stop: 1 #333333);
	width: 15px;
	margin: 17px 0 17px 0;
}
QScrollBar#ProjectViewTableVerticalScrollBar::handle:vertical {
	background-color: transparent;
	background-image: url(":/StyleImages/res/Stylesheet/trnspt_scroll_v.png");
	min-height: 0px;
	max-height: 0px;
	border: 0px;
}
QScrollBar#ProjectViewTableVerticalScrollBar::add-line:vertical  {
	border: 0px;
	background: transparent;
	height: 15px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar#ProjectViewTableVerticalScrollBar::sub-line:vertical {
	border: 0px;
	background: transparent;
	height: 15px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar#ProjectViewTableVerticalScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}
QScrollBar#ProjectViewTableVerticalScrollBar::up-arrow:vertical {
	background: url(":/StyleImages/res/Stylesheet/icn_window_scrollArrowUp_op3.png");
	background-repeat: none;
	left: 3px;
	top: 7px;
}
QScrollBar#ProjectViewTableVerticalScrollBar::down-arrow:vertical {
	background: url(":/StyleImages/res/Stylesheet/icn_window_scrollArrowDwn_op3.png");
	background-repeat: none;
	left: 3px;
	top: 5px;
}
/*------------------------------------------*/
/* End of project view scroll bar style		*/
/*------------------------------------------*/

/*QListView*/
QListView#WidgetBoxItem{
    background : #eeeeee;
    border-style: none;
    border-radius: 4px;
    border-width: 1px;
    border-color : lightgray;
    color: black;
}

QWidget#WidgetBoxItem{
    background : #eeeeee;
    border-style: none;
    border-radius: 1px;
}

QWidget#TEST{
    background : red;
    border-style: solid;
    border-radius: 1px;
	border-color : white;
}
QWidget#PrjLineWidget{
    background : rgb(114, 120, 120);
    border-style: none;
    border-width: 0px;
	border-radius: 0px;
}

QWidget#ProjectWidget{
    background : rgb(31, 31, 31);
    border-style: none;
    border-width: 0px;
	border-radius: 0px;
}

QWidget#TimeItemWidget{
    background : qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                 stop:0 rgb(94,94,94), 
								 stop:0.5 rgb(58,58,58), 
								 stop:1 rgb(40,40,40));
    border-style: none;
    border-width: 0px;
	border-radius: 6px;
}

QWidget#EmptyWidget{
    background : rgb(255,0,0);
    border-style: none;
    border-width: 0px;
	border-radius: 0px;
}

QWidget#PrjDeviceInfoWidget, #PrjAnalyzerSessionControlWidget_Gradiant, #PrjJammerAllSessionControlsWidget_Gradiant, #PrjTrainerAllSessionControlsWidget_Gradiant{
    background : qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                 stop:0 rgb(94,94,94), 
								 stop:0.5 rgb(58,58,58), 
								 stop:1 rgb(40,40,40));
    border-style: none;
    border-width: 0px;
	border-radius: 0px;
}

QWidget#PrjJammerAllSessionControlsWidget_NoGradiant, #PrjAnalyzerSessionControlWidget_NoGradiant, #PrjTrainerAllSessionControlsWidget_NoGradiant{
    background : rgb(40,40,40);
    border-style: none;
    border-width: 0px;
	border-radius: 0px;
	
}

/*QTreeView*/
QTreeView{
    background   : #eeeeee;
    border-style : outset;
    border-radius: 4px;
    border-width : 0px;
    border-color : #eeeeee;
    color        : black;
}

QTreeView#AutoSuggestionCriteriaTreeView{
    background   : rgb(224, 221, 221);
}

 /*QTreeView::item {
      border: 1px solid #d9d9d9;
     border-top-color: transparent;
     border-bottom-color: transparent;
 }

 QTreeView::item:hover {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
     border: 1px solid #bfcde4;
 }

 QTreeView::item:selected {
     border: 1px solid #567dbc;
 }

 QTreeView::item:selected:active{
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6ea1f1, stop: 1 #567dbc);
 }

 QTreeView::item:selected:!active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
 }*/
 
 QTreeView::branch:has-children:!has-siblings:closed,
 QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(":/StyleImages/res/Stylesheet/right_arrow.png");
 }

 QTreeView::branch:open:has-children:!has-siblings,
 QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(":/StyleImages/res/Stylesheet/down_arrow.png");
 }

/*QSpinBox*/
QSpinBox, QDoubleSpinBox {
	background: black;
	color:white;
    border: 1px solid white;
	border-radius: 4px;
}

QSpinBox:disabled, QDoubleSpinBox:disabled{
	background: lightgray;
	color: 0.5 black;
    border: 1px solid gray;
}

QSpinBox::up-button, QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    border: 1px solid white;
	border-top-right-radius: 4px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
}

QSpinBox::up-button:disabled, QDoubleSpinBox::up-button:disabled, QSpinBox::down-button:disabled, QDoubleSpinBox::down-button:disabled {
    border: 1px solid gray;
    background-color: lightgray;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow{
    image: url(":/StyleImages/res/Stylesheet/up_arrow.png");
}

QSpinBox::down-button , QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */
    width: 16px;
    border: 1px solid white;
	border-bottom-right-radius: 4px;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:1 #050505);
}
 
QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
    image: url(":/StyleImages/res/Stylesheet/down_arrow.png");
}

 QSpinBox::up-button:hover, QSpinBox::down-button:hover, QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
 }

 QSpinBox::up-button:pressed:hover, QSpinBox::down-button:pressed:hover, QDoubleSpinBox::up-button:pressed:hover, QDoubleSpinBox::down-button:pressed:hover{
    background-color: qlineargradient(x1:0, y1:0,x2:0, y2:1,
                                       stop:0 rgba(12,61,90,80), stop:1 rgba(100,184,235,80));
 }

 QSpinBox#SegmentWidgetSpinBox {
	/*padding-right: 1px; /* make room for the arrows */
	background: rgb(24, 24, 24);
	color:rgb(225,225,225);
    border: 1px solid rgb(95,105,110);
	border-radius: 0px;
	text-align: right;
}

QSpinBox#SegmentWidgetSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    width: 12px; 
    border: 0px;
	border-radius: 0px;
    background-color: rgb(95,105,110);
}

QSpinBox#SegmentWidgetSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */
    width: 12px;
    border: 0px;
	border-radius: 0px;
	background-color: rgb(95,105,110);
}

QSpinBox#SegmentWidgetSpinBox::up-button:hover, QSpinBox#SegmentWidgetSpinBox::down-button:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 darkgray, stop:.5 rgba(255, 255, 255, 0) , stop:1 rgba(100,184,235,150));
}

 /*QSlider*/
/*QSlider::groove:horizontal{
	background: url(:/StyleImages/res/Stylesheet/slider_groove.png);
	background-position: center;
	background-repeat: repeat-x;
}*/

QSlider::handle:horizontal{
    /* background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
     border: 1px solid #5c5c5c;
     width: 12px;
     margin: -2px 0;  handle is placed by default on the contents rect of the groove. Expand outside the groove 
     border-radius: 3px;*/
	image: url(:/StyleImages/res/Stylesheet/slider_handle.png);
}

QSlider::handle:horizontal:hover{
	image: url(:/StyleImages/res/Stylesheet/slider_handle_hover.png);
}

QSlider::handle:horizontal:pressed{
	image: url(:/StyleImages/res/Stylesheet/slider_handle_pressed.png);
}

QSlider::handle:horizontal:disabled{
	image: url(:/StyleImages/res/Stylesheet/slider_handle_disabled.png);
}

/*TextEdit*/
QLineEdit {
    border: 2px solid white;
    border-radius: 4px;
    background: rgb(240, 240, 240);
	color:black;     
    selection-background-color: rgb(60, 157, 255);
}

QLineEdit:disabled {
    border: 2px solid gray;
    border-radius: 4px;
    background: darkgray;
	color: gray;
}

QLineEdit#PSGLineEdit {
    border: 0px solid white;
    border-radius: 0px;
    background: rgb(240, 240, 240);
	color:black;     
    selection-background-color: rgb(60, 157, 255);
}

QLineEdit#FilterLineEdit{
	border: 1px solid #6488BC;
	background-color: #FCFDFD;
	font-color:#DBDBDB;
	border-radius:2px
}

QPlainTextEdit, QTextEdit{
    border: 2px solid white;
    border-radius: 4px;
    background: rgb(240, 240, 240);
	color:black;     
    selection-background-color: rgb(60, 157, 255);
}

QPlainTextEdit:disabled, QTextEdit:disabled{
    border: 2px solid darkgray;
    border-radius: 4px;
    background: lightgray;
	color: darkgray;
}

QLineEdit#AutoSuggestionLineEdit {
    border: 1px solid gray;
    border-radius: 0px;
    background: rgb(224, 221, 221);
}

QLineEdit#AutoSuggestionLineEditInCombo {
    border: 1px solid rgb(224, 221, 221);
    border-radius: 0px;
    background: rgb(224, 221, 221);
}

QLineEdit#IPEditorLineEdit
{
   border-width: 0px;
   background: transparent;
}

/* START - styles of recording/uploading progress bar */
#RecProgressBar {
	background : black;
	color: lightgray;
}

#TriggerPoint {
	color : black;
}

#PreTrigRect {
	color : #F0F000;
}

#PostTrigRect {
	color : #901020;
}

#UploadRect {
	color : #2050FF;
}

#ActivityRect {
	color : #D0D0D0;
}

#ActivityAlertRect {
	color : #00D300;
}
/* END - styles of recording/uploading progress bar */

#NavigationControlSilder, #NavigationControlSilder::pressed {
background-color: rgba(255, 255, 100, 35%);
border: 2px solid yellow;
}

#BankStateNavigationSlider, #BankStateNavigationSlider::pressed {
background-color: rgba(255, 255, 100, 35%);
border: 2px solid yellow;
}

#NavigationMoveButtonLeft {
	margin : 0;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop: 0 #222222, stop: 1 #444444);
	border-radius: 2px;
	border: 1px solid white;	
	background-image: url(":/StyleImages/res/Stylesheet/navigation_left_arrow.png");
	background-repeat: none;
	background-position : center center;
}

#NavigationMoveButtonRight {
	margin : 0;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop: 0 #222222, stop: 1 #444444);
	border-radius: 2px;
	border: 1px solid white;	
	background-image: url(":/StyleImages/res/Stylesheet/navigation_right_arrow.png");
	background-repeat: none;
	background-position : center center;
}

#NavigationMoveButtonLeft:pressed{
     	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop: 0 #000000, stop: 1 #111111);
    	background-image: url(":/StyleImages/res/Stylesheet/navigation_left_arrow.png");
	background-repeat: none;
	background-position : center center;
     	border: 1px inset white;
     	position: absolute;
     	top: 1px;
     	right: 1px;
     	bottom: 1px;
     	left: 1px
}

#NavigationMoveButtonRight:pressed{
     	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop: 0 #000000, stop: 1 #111111);
    	background-image: url(":/StyleImages/res/Stylesheet/navigation_right_arrow.png");
	background-repeat: none;
	background-position : center center;
     	border: 1px inset white;
     	position: absolute;
     	top: 1px;
     	right: 1px;
     	bottom: 1px;
     	left: 1px
}

#HeaderLinesViewerButtons{
	background: black;
}

#RangeSelectorWidgetSlider{
	background: yellow;
	color: gray;/*border*/
}

QSplitter#MainWindowSplitter::handle:vertical 
{
   image: url(":/StyleImages/res/Stylesheet/horzBar_grabby.png");
}

QSplitter#InfusionSplitter::handle
{
   background : #202020;
   width: 5px;
   height: 5px;
}

QTableView#SessionStatusSecondTierTable
{
	color: rgb(0, 255, 255);
	gridline-color: rgb(160, 184, 208);
	background-color: transparent;
	selection-background-color: rgb(90,170, 255);
}

QTableView#SessionStatusSecondTierTable QHeaderView::section
{
	color: white;
	background-color : qlineargradient(x1:0, y1:0, x2:0, y2:1,
							 stop:0 rgb(160, 184, 208), 
							 stop:0.5 rgb(80,100,120), 
							 stop:1 rgb(30,50,80));

	border-top: 0px solid rgb(250, 250, 250);
	border-bottom: 1px solid rgb(250, 250, 250);
	border-right: 1px solid rgb(250, 250, 250);
}

QTableView#SessionStatusSecondTierTable QHeaderView::section:checked 
{
	background-color: rgb(0, 230, 0); 
}

QTableView#SessionStatusSecondTierTable QHeaderView
{
	background-color: transparent;
}

QLabel#SessionStatusSecondTierDeviceLabel
{
	color: black;
	background-color: transparent;
	font: bold;
}

QTableView QTableCornerButton::section
{
	background: transparent;
}

QScrollArea#ProductScrollArea{
	background: transparent;
}

QFrame#ContainerFrame{
	background: transparent;
}
